# Fill / replace the below
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="RANDOM SECRET"

APP_NAME="Pose"
PORT=3000

LANGUAGE=en
CURRENCY=usd
COUNTRY=US
PRIMARY_COLOR='#221b35'
SECONDARY_COLOR='#f26552'
CUSTOM_LOGO=

# Don't change the below
NEXT_PUBLIC_PRIMARY_COLOR=$PRIMARY_COLOR
NEXT_PUBLIC_SECONDARY_COLOR=$SECONDARY_COLOR
NEXT_PUBLIC_CUSTOM_LOGO=$CUSTOM_LOGO
NEXT_PUBLIC_COUNTRY=$COUNTRY
NEXT_PUBLIC_CURRENCY=$CURRENCY
NEXT_PUBLIC_LANGUAGE=$LANGUAGE
NEXT_PUBLIC_DEFAULT_COUNTRY=$COUNTRY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=$STRIPE_PUBLISHABLE_KEY
SECRET=$NEXTAUTH_SECRET