APP_NAME=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="SOME RANDOM SECRET"

LANGUAGE=en
CURRENCY=usd
COUNTRY=US
PRIMARY_COLOR="#221B35"
SECONDARY_COLOR="#F26552"
CUSTOM_LOGO=

# Do not change the below variables below this comment unless you know what you are doing!
PORT=3000
NEXT_PUBLIC_PRIMARY_COLOR=$PRIMARY_COLOR
NEXT_PUBLIC_SECONDARY_COLOR=$SECONDARY_COLOR
NEXT_PUBLIC_CUSTOM_LOGO=$CUSTOM_LOGO
NEXT_PUBLIC_COUNTRY=$COUNTRY
NEXT_PUBLIC_CURRENCY=$CURRENCY
NEXT_PUBLIC_LANGUAGE=$LANGUAGE
NEXT_PUBLIC_DEFAULT_COUNTRY=$COUNTRY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=$STRIPE_PUBLISHABLE_KEY
SECRET=$NEXTAUTH_SECRET