# Get your Stripe keys from https://stripe.com/docs/keys
STRIPE_SECRET_KEY="sk_INSERT_YOUR_SECRET_KEY"
STRIPE_PUBLIC_KEY="pk_INSERT_YOUR_PUBLISHABLE_KEY"

NEXT_PUBLIC_STRIPE_PUBLIC_KEY=$STRIPE_PUBLIC_KEY

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="YOUR SECRET"

APP_NAME="Pose"
PORT=3000

# Used for hashing cookies and sessions
SECRET=$NEXTAUTH_SECRET

# Change to the default country accounts should get created in (US, GB, etc.)
# Change this to the country code you want to use for the default country when
# an account signs up.
NEXT_PUBLIC_DEFAULT_COUNTRY="US"

# Account ID used to demo a working account
EXAMPLE_DEMO_ACCOUNT=


# Set the following ones, to account ID in a country that the base demo onboarding will use. All
# account countries specified in ./script/setup-accounts.py, the DEMO_ONBOARDING_COUNTRIES array, will
# have accounts created for them, but will be empty. After running ./script/setup-accounts.py -a, it will
# create accounts and spit out the IDs. Put those IDs into the below variables.

# Account IDs used for the account to demo onboarding in a specific country
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_US=
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_FR=
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_SG=
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_HK=
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_GB=
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_AU=

# Account ID used for the account to demo onboarding if we don't have a specific country above.
# For example, to show the onboarding component for a country like AU, we'd run the setup-accounts.py script
# and get the account ID for AU and put it here (AU must be in DEMO_ONBOARDING_COUNTRIES in the script)
EXAMPLE_DEMO_ONBOARDING_ACCOUNT_DEFAULT=
